<div class="flex flex-col justify-center items-center text-center">
  <div class="flex p-2 rounded-xl flex-col bg-gray-800">
  <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <div class="flex flex-col p-1.5 rounded-md bg-gray-900 items-center justify-center">
      <h2 class="font-bold">Create Account</h2>
      <input formControlName="login" placeholder="login" class="rounded-md p-1 text-gray-900 border-1 bg-amber-100 m-1" type="email" name="login">
      <small class="block text-red-600" *ngIf="login.invalid && (login.dirty || login.touched)">
        <div *ngIf="login.errors?.['required']">Email is required</div>
      </small>
      <input formControlName="email" placeholder="email" class="rounded-md p-1 text-gray-900 border-1 bg-amber-100 m-1" type="email" name="login">
      <small class="block text-red-600" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Email is not valid</div>
      </small>
      <input formControlName="password" placeholder="password" class="rounded-md p-1 text-gray-900 border-1 bg-amber-100 m-1" type="password" name="password">
      <small class="block text-red-600" *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.['required']">Password is required</div>
      </small>
      <input formControlName="confirmPassword" placeholder="confirm password" class="rounded-md p-1 text-gray-900 border-1 bg-amber-100 m-1" type="password" name="password">
      <small class="block text-red-600" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors?.['required']">Password is required</div>
      </small>
      <small class="block text-red-600" *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
        Passwords should match
      </small>
      <input [disabled]="registerForm.invalid" class="text-gray-900 w-fit rounded-md p-2 m-2.5 text-center border-1 border-solid bg-orange-400 hover:bg-amber-500 active:bg-orange-300 border-1" type="submit" value="Sign up">
    </div>
  </form>
  <div>
    Already have an account? <a class='text-blue-500' routerLink="/login">Log in</a>
  </div>
</div>
</div>
